/* _content/Watch_Store/Pages/Index.cshtml.rz.scp.css */
*[b-gwmo8i7d2t] {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html[b-gwmo8i7d2t] {
    scroll-behavior: smooth;
}


/* Footer */

.footer[b-gwmo8i7d2t] {
    width: 100%;
    background-color: #2d3436;
    color: #fff;
}

.footer-row[b-gwmo8i7d2t] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px 15px
}

.footer-col-1[b-gwmo8i7d2t] {
    width: 31%;
    padding: 25px 20px;
}

.footer-social[b-gwmo8i7d2t] {
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}

.a[b-gwmo8i7d2t] {
    margin: 10px;
    text-decoration: none;
    color: #fff;
}

    .a:hover[b-gwmo8i7d2t] {
        text-decoration: none;
        color: #30a1ec;
    }

.f-logo img[b-gwmo8i7d2t] {
    margin-left: -20px;
    width: 250px;
}

.footer-col-2[b-gwmo8i7d2t] {
    width: 31%;
    padding: 10px 60px;
}

.footer-links[b-gwmo8i7d2t] {
    list-style: none;
    margin-left: -10px;
}

    .footer-links li[b-gwmo8i7d2t] {
        padding: 2px;
    }

.footer-col-3[b-gwmo8i7d2t] {
    padding: 20px 10px;
    width: 31%;
}

.f-btn[b-gwmo8i7d2t] {
    background-color: #4891f0;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding: 10px;
}

.footer-header[b-gwmo8i7d2t] {
    font-size: 18px;
    text-transform: uppercase;
}

.input[b-gwmo8i7d2t] {
    outline: none;
    width: 280px;
    padding: 10px 20px;
    border-radius: 8px;
}

    .input:focus[b-gwmo8i7d2t] {
        border: 2px solid #4891f0;
    }

.copyrights[b-gwmo8i7d2t] {
    background-color: #4891f0;
    text-align: center;
    height: 40px;
}

    .copyrights span[b-gwmo8i7d2t] {
        line-height: 40px;
        color: #fff;
        font-weight: 400;
    }

@media only screen and (max-width:992px) {
    .cardd[b-gwmo8i7d2t] {
        width: 30%;
    }

    .benefit-col[b-gwmo8i7d2t] {
        width: 25%;
    }
}

@media only screen and (max-width:880px) {
    .logo[b-gwmo8i7d2t] {
        width: 50%;
    }

        .logo img[b-gwmo8i7d2t] {
            width: 200px;
            margin-left: 40px;
        }

    .icons[b-gwmo8i7d2t] {
        width: 50%;
    }

    .search-box input[type="search"][b-gwmo8i7d2t] {
        padding: 5px 20px;
        font-size: 14px;
        width: 200px;
    }

    .search-box input[type="submit"][b-gwmo8i7d2t] {
        padding: 5px 10px;
        font-size: 14px;
        width: 65px;
        margin-right: 25px;
    }

    .navbars[b-gwmo8i7d2t] {
        padding-left: 25px;
    }

        .navbars li a[b-gwmo8i7d2t] {
            font-size: 15px;
            font-size: 16px;
        }

    .icon2[b-gwmo8i7d2t] {
        justify-content: flex-end;
    }

        .icon2 a[b-gwmo8i7d2t] {
            font-size: 15px;
            margin-right: 0;
            padding: 15px;
        }

    .benefit-row[b-gwmo8i7d2t] {
        margin: 0 20px;
    }

    .benefit-col[b-gwmo8i7d2t] {
        width: 49%;
        height: 90px;
        border-right: none;
        border-bottom: solid 1px rgb(211, 205, 205);
        margin-bottom: 5px;
        margin-left: 3px;
    }

    .deal-row[b-gwmo8i7d2t] {
        justify-content: center;
    }

    .deal-col-1[b-gwmo8i7d2t] {
        width: 35%;
    }

        .deal-col-1 img[b-gwmo8i7d2t] {
            width: 250px;
        }

    .deal-col-2[b-gwmo8i7d2t] {
        width: 65%;
    }

    .input[b-gwmo8i7d2t] {
        width: 200px;
    }

    .single-p-row[b-gwmo8i7d2t] {
        width: 100%;
        padding: 25px 10px;
    }

    .single-img-col[b-gwmo8i7d2t] {
        width: 50%;
    }

    .single-p-about[b-gwmo8i7d2t] {
        width: 50%;
    }

        .single-p-about h5[b-gwmo8i7d2t] {
            font-size: 16px;
        }

    .price-col h6[b-gwmo8i7d2t] {
        font-size: 20px;
    }

    .buy-btns a[b-gwmo8i7d2t] {
        width: 48%;
    }

    .single-p-deli[b-gwmo8i7d2t] {
        width: 100%;
        padding-top: 20px;
        padding-left: 30px;
    }

    .swiper-slide img[b-gwmo8i7d2t] {
        height: 40vh;
    }

    .swiper-slide h5[b-gwmo8i7d2t] {
        font-size: 25px;
    }

    .swiper-slide a[b-gwmo8i7d2t] {
        font-size: 16px;
    }
}

@media only screen and (max-width:756px) {
    .wrappers[b-gwmo8i7d2t] {
        padding: 10px 0;
    }

    .cardd[b-gwmo8i7d2t] {
        width: 45%;
        height: 350px;
    }

        .cardd img[b-gwmo8i7d2t] {
            background-size: cover;
            height: 240px;
        }

        .cardd p[b-gwmo8i7d2t] {
            font-size: 11px;
        }

        .cardd button[b-gwmo8i7d2t] {
            font-weight: 700;
            font-size: 14px;
            padding: 5px;
            height: 30px;
        }

    .btn2[b-gwmo8i7d2t] {
        visibility: visible;
        transition: all .5s;
        transform: translatey(0px);
    }

    .deal-row[b-gwmo8i7d2t] {
        padding: 10px 0;
    }

    .deal-col-1[b-gwmo8i7d2t] {
        padding: 0;
        width: 32%;
    }

        .deal-col-1 img[b-gwmo8i7d2t] {
            width: 200px;
        }

    .deal-col-2[b-gwmo8i7d2t] {
        width: 68%;
    }

    .h2[b-gwmo8i7d2t] {
        font-size: 25px;
    }

    .counter[b-gwmo8i7d2t] {
        margin-top: 15px;
    }

    .round[b-gwmo8i7d2t] {
        width: 90px;
        height: 90px;
        font-size: 11px;
        margin: 2px;
    }

        .round span[b-gwmo8i7d2t] {
            font-size: 30px;
        }

    .footer-col-1[b-gwmo8i7d2t] {
        width: 45%;
    }

    .input[b-gwmo8i7d2t] {
        width: 350px;
    }

    .footer-col-2[b-gwmo8i7d2t] {
        width: 45%;
    }

    .footer-col-3[b-gwmo8i7d2t] {
        width: 90%;
    }

    ul li button[b-gwmo8i7d2t] {
        margin: 20px 0 5px 5px;
    }

    ul li .btn[b-gwmo8i7d2t] {
        padding: 10px;
    }

    .about h2[b-gwmo8i7d2t] {
        margin-left: 50px;
    }

        .about h2[b-gwmo8i7d2t]::before {
            width: 10%;
            left: -11%;
        }

    .cart-container[b-gwmo8i7d2t] {
        padding: 10px;
    }

    .cart-names[b-gwmo8i7d2t] {
        margin-top: 20px;
        height: 50px;
    }

    .product-heading[b-gwmo8i7d2t] {
        width: 25%;
        height: 50px;
    }

        .product-heading h2[b-gwmo8i7d2t] {
            font-size: 18px;
        }

    .product-sub-head[b-gwmo8i7d2t] {
        width: 75%;
        height: 50px;
    }

    .cart-names li[b-gwmo8i7d2t] {
        padding: 10px 5px;
    }

    .item-details[b-gwmo8i7d2t] {
        margin: 0 20px 30px 20px;
    }

    .product-img[b-gwmo8i7d2t] {
        padding: 10px 0;
        width: 25%;
    }

        .product-img img[b-gwmo8i7d2t] {
            width: 80px;
        }

    .product-quntity[b-gwmo8i7d2t] {
        width: 75%;
        height: 60px;
    }

        .product-quntity li[b-gwmo8i7d2t] {
            padding: 10px 5px;
        }

    .pp[b-gwmo8i7d2t],
    .pm[b-gwmo8i7d2t] {
        margin: 2px;
        font-size: 16px;
        padding: 0;
        background-color: transparent;
    }

        .pp:hover[b-gwmo8i7d2t],
        .pm:hover[b-gwmo8i7d2t] {
            background-color: transparent;
        }

    .product-quntity input[type=number][b-gwmo8i7d2t] {
        font-size: 16px;
        width: 15px;
    }

    .single-img-col[b-gwmo8i7d2t] {
        width: 100%;
        border: none;
    }

        .single-img-col img[b-gwmo8i7d2t] {
            height: 400px;
        }

    .single-p-about[b-gwmo8i7d2t] {
        width: 100%;
    }
}

@media only screen and (max-width:660px) {
    #myBtn[b-gwmo8i7d2t] {
        right: 7px;
        font-size: 30px;
    }

    header[b-gwmo8i7d2t] {
        width: 100%;
    }

    .logo[b-gwmo8i7d2t] {
        position: fixed;
        top: 0;
        height: 70px;
        width: 100%;
        background-color: #fff;
        height: 60px;
        padding: 10px 0;
        z-index: 1111;
        box-shadow: -5px 2px 10px rgba(0, 0, 0, 0.274);
    }

    .icons[b-gwmo8i7d2t] {
        margin-top: 60px;
        background-color: #2d3436;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-box[b-gwmo8i7d2t] {
        width: 100%;
        text-align: center;
    }

        .search-box input[type="search"][b-gwmo8i7d2t] {
            padding: 7px 20px;
            width: 60%;
            border: none;
            box-shadow: none;
        }

        .search-box input[type="submit"][b-gwmo8i7d2t] {
            padding: 7px 20px;
            color: #fff;
            width: 25%;
            box-shadow: none;
            margin-right: 0;
        }

    .icon2[b-gwmo8i7d2t] {
        width: 100%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        background-color: rgba(0, 0, 0, 0.2);
    }

        .icon2 a:nth-child(1)[b-gwmo8i7d2t] {
            margin-right: 0;
        }

        .icon2 a[b-gwmo8i7d2t] {
            width: 100%;
            padding: 15px;
            border-bottom: 1px solid gray;
            opacity: 0;
            transition: all 1s;
        }

            .icon2 a span[b-gwmo8i7d2t] {
                right: 80px;
                top: 8px;
                font-size: 10px;
                width: 15px;
                height: 15px;
            }

    .nav-sec[b-gwmo8i7d2t] {
        z-index: -1;
        position: static;
        width: 100%;
        height: 40px;
    }

    .nav[b-gwmo8i7d2t] {
        flex-direction: column;
        position: fixed;
        justify-content: flex-start;
        right: 0px;
        top: 60px;
        height: 100%;
        z-index: 1111;
        background-color: #2d3436;
        border-top: 4px solid #4891f0;
        border-left: 3px solid #fff;
        width: 60%;
        transform: translateX(100%);
        transition: ease-out .6s;
    }

    .navbars[b-gwmo8i7d2t] {
        margin-top: 25px;
        width: 100%;
        flex-direction: column;
        padding: 0;
        text-align: center;
    }

        .navbars li[b-gwmo8i7d2t] {
            border-bottom: 1px solid gray;
            width: 100%;
            margin: 2px 0 0 0;
            padding: 20px 0;
        }

    .nav li a[b-gwmo8i7d2t] {
        margin-left: 300px;
        transition: ease 0.8s;
    }

    .nav li:nth-child(1) a[b-gwmo8i7d2t] {
        transition-delay: 0.3s;
    }

    .nav li:nth-child(2) a[b-gwmo8i7d2t] {
        transition-delay: 0.5s !important;
    }

    .nav li:nth-child(3) a[b-gwmo8i7d2t] {
        transition-delay: 0.7s;
    }

    .nav li:nth-child(4) a[b-gwmo8i7d2t] {
        transition-delay: 0.8s;
    }

    #nav:checked ~ .nav li a[b-gwmo8i7d2t] {
        margin-left: 0px;
    }

    .nav-btn[b-gwmo8i7d2t] {
        position: fixed;
        right: 30px;
        top: 15px;
        display: block;
        cursor: pointer;
        padding: 10px 5px;
        z-index: 1111;
        transition: transform .6s linear;
    }

        .nav-btn i[b-gwmo8i7d2t] {
            display: block;
            width: 30px;
            height: 3px;
            background: #000;
            border-radius: 2px;
            transition: linear .6s;
        }

    #nav:checked + .nav-btn i[b-gwmo8i7d2t] {
        transition: transform 0.6s ease;
    }

    .nav-btn i:nth-child(2)[b-gwmo8i7d2t] {
        transition: linear .1s;
        transition-delay: .6s;
        margin-top: 4px;
        opacity: 1;
    }

    .nav-btn i:nth-child(3)[b-gwmo8i7d2t] {
        transform: translateY(4px);
    }

    #nav:checked + .nav-btn i:nth-child(1)[b-gwmo8i7d2t] {
        transform: rotate(50deg);
        margin-top: 5px;
    }

    #nav:checked + .nav-btn i:nth-child(2)[b-gwmo8i7d2t] {
        opacity: 0;
    }

    #nav:checked + .nav-btn i:nth-child(3)[b-gwmo8i7d2t] {
        margin-top: -30%;
        transform: rotate(-50deg);
    }

    #nav:checked ~ .nav[b-gwmo8i7d2t] {
        width: 45%;
        visibility: visible;
        transform: translateX(0);
    }

    .more[b-gwmo8i7d2t] {
        display: block;
        background-color: #4891f0;
        text-align: center;
    }

        .more p[b-gwmo8i7d2t] {
            padding: 10px 5px 0 0;
        }

    #more:checked ~ .icon2[b-gwmo8i7d2t] {
        visibility: visible;
    }

        #more:checked ~ .icon2 a[b-gwmo8i7d2t] {
            visibility: visible;
            opacity: 1;
        }

    .nav li:nth-child(1) a[b-gwmo8i7d2t] {
        transition-delay: 0.5;
    }

    .nav li:nth-child(2) a[b-gwmo8i7d2t] {
        transition-delay: 1s;
    }

    .footer-col-1[b-gwmo8i7d2t] {
        padding: 10px;
        width: 90%;
    }

    .f-logo[b-gwmo8i7d2t] {
        padding-bottom: 10px;
    }

    .footer-col-2[b-gwmo8i7d2t] {
        padding: 10px;
        width: 90%;
    }

    .footer-col-3[b-gwmo8i7d2t] {
        padding: 10px;
        width: 90%;
    }

    .c2[b-gwmo8i7d2t]::after {
        top: 95%;
        left: 40%;
        width: 20%;
    }

    .mainsec[b-gwmo8i7d2t] {
        display: flex;
        flex-direction: column-reverse;
    }

    .form-box[b-gwmo8i7d2t] {
        max-width: 400px;
        max-height: 350px;
    }

    .top-sec[b-gwmo8i7d2t] {
        display: flex;
        text-align: center;
        width: 100%;
    }

        .top-sec label[b-gwmo8i7d2t] {
            padding: 20px;
            font-size: 25px;
        }
}

@media only screen and (max-width:550px) {
    .swiper-slide img[b-gwmo8i7d2t] {
        height: 30vh;
    }

    .swiper-button-next[b-gwmo8i7d2t],
    .swiper-button-prev[b-gwmo8i7d2t] {
        display: none !important;
    }

    .swiper-slide h5[b-gwmo8i7d2t] {
        font-size: 20px;
        bottom: 20%;
    }

    .swiper-slide a[b-gwmo8i7d2t] {
        display: none !important;
    }

    #nav:checked ~ .nav[b-gwmo8i7d2t] {
        width: 55%;
        visibility: visible;
    }

    .benefit-col[b-gwmo8i7d2t] {
        width: 100%;
        border: none;
    }

    .benefit h6[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .benefit p[b-gwmo8i7d2t] {
        font-size: 11px;
    }

    .benefit-icon i[b-gwmo8i7d2t] {
        font-size: 24px;
    }

    .h22[b-gwmo8i7d2t]:after {
        top: 80%;
        left: 35%;
        width: 30%;
        height: 3px;
    }

    .cardd[b-gwmo8i7d2t] {
        width: 45%;
        height: 300px;
    }

        .cardd img[b-gwmo8i7d2t] {
            background-size: cover;
            height: 200px;
        }

        .cardd p[b-gwmo8i7d2t] {
            font-size: 10px;
        }

        .cardd button[b-gwmo8i7d2t] {
            font-weight: 700;
            font-size: 14px;
            padding: 5px;
            height: 30px;
        }

    .vi-btn[b-gwmo8i7d2t] {
        font-size: 16px;
    }

    .deal-row[b-gwmo8i7d2t] {
        flex-direction: column-reverse;
    }

    .h2[b-gwmo8i7d2t] {
        font-size: 14px;
    }

        .h2[b-gwmo8i7d2t]:after {
            top: 80%;
            left: 35%;
            width: 30%;
            height: 3px;
        }

    .deal-col-1[b-gwmo8i7d2t] {
        width: 90%;
    }

    .deal-col-2[b-gwmo8i7d2t] {
        width: 90%;
    }

    .round[b-gwmo8i7d2t] {
        margin: 5PX;
    }

    .input[b-gwmo8i7d2t] {
        width: 300px;
        font-size: 15px;
    }

    .copyrights span[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    ul li button[b-gwmo8i7d2t] {
        margin: 20px 0 0 0;
    }

    ul li .btn[b-gwmo8i7d2t] {
        padding: 7px;
        font-size: 12px;
    }

    .c2[b-gwmo8i7d2t] {
        font-size: 30px;
    }

    .swiper-container[b-gwmo8i7d2t] {
        height: 50%;
    }

    .banner[b-gwmo8i7d2t] {
        height: 30vh;
    }

        .banner h2[b-gwmo8i7d2t] {
            font-size: 35px;
        }

    .form-box[b-gwmo8i7d2t] {
        margin-top: -20px;
        max-width: 300px;
        height: 300px;
    }

    .form[b-gwmo8i7d2t] {
        padding: 0;
    }

    .top-sec[b-gwmo8i7d2t] {
        display: flex;
        text-align: center;
        width: 100%;
    }

        .top-sec label[b-gwmo8i7d2t] {
            z-index: 1;
            padding: 15px;
            font-size: 17px;
        }

    .form h2[b-gwmo8i7d2t] {
        z-index: -1;
        font-size: 20px;
        padding: 10px;
    }

    .form input[type=text][b-gwmo8i7d2t] {
        padding: 10px;
        float: 14px;
    }

    .form input[type=password][b-gwmo8i7d2t] {
        padding: 10px;
        float: 14px;
    }

    .form input[type=Email][b-gwmo8i7d2t] {
        padding: 10px;
        float: 14px;
    }

    .form-swaper[b-gwmo8i7d2t] {
        padding: 15px;
    }

    .fa-eye[b-gwmo8i7d2t],
    .fa-eye-slash[b-gwmo8i7d2t] {
        position: absolute;
        right: 30px;
        bottom: 105px;
    }

    .single-p-row[b-gwmo8i7d2t] {
        padding: 0px 0 25px 0;
    }

    .single-img-col img[b-gwmo8i7d2t] {
        height: 250px;
    }

    .single-p-deli[b-gwmo8i7d2t] {
        border-top: 1px solid gray;
        padding: 10px 15px;
    }

    .next[b-gwmo8i7d2t],
    .prev[b-gwmo8i7d2t] {
        display: none;
    }

    .nextd i[b-gwmo8i7d2t],
    .centerd i[b-gwmo8i7d2t],
    .prevd i[b-gwmo8i7d2t] {
        display: block;
        font-size: 12px;
        font-weight: 400;
        color: rgb(19, 18, 18);
    }
}

@media only screen and (max-width:430px) {
    .logo[b-gwmo8i7d2t] {
        height: 60px;
    }

        .logo img[b-gwmo8i7d2t] {
            margin-left: 10px;
            width: 170px;
        }

    .nav[b-gwmo8i7d2t] {
        top: 60px;
    }

    .nav-btn[b-gwmo8i7d2t] {
        top: 15px;
        right: 10px;
    }

        .nav-btn i[b-gwmo8i7d2t] {
            height: 2px;
            width: 25px;
        }

    #nav:checked ~ .nav[b-gwmo8i7d2t] {
        width: 70%;
        visibility: visible;
    }

    .h22[b-gwmo8i7d2t] {
        font-size: 20px;
    }

    .cardd[b-gwmo8i7d2t] {
        height: 220px;
    }

        .cardd p[b-gwmo8i7d2t] {
            padding: 5px;
        }

        .cardd img[b-gwmo8i7d2t] {
            height: 125px;
        }

    .btn2[b-gwmo8i7d2t] {
        height: 25px !important;
        padding: 0px !important;
        font-weight: 300;
        font-size: 11px !important;
    }

    .deal-col-1[b-gwmo8i7d2t] {
        width: 100%;
    }

        .deal-col-1 img[b-gwmo8i7d2t] {
            width: 150px;
        }

    .deal-col-2[b-gwmo8i7d2t] {
        width: 100%;
    }

    .h2[b-gwmo8i7d2t] {
        font-size: 20px;
    }

    .round[b-gwmo8i7d2t] {
        width: 60px;
        height: 60px;
        margin: 2px;
    }

    .deal-col-2 span[b-gwmo8i7d2t] {
        font-size: 18px;
    }

    .footer p[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .footer h3[b-gwmo8i7d2t] {
        font-size: 18px;
    }

    .f-logo img[b-gwmo8i7d2t] {
        margin-left: -15px;
        width: 200px;
    }

    .f-btn[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .a[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .input[b-gwmo8i7d2t] {
        border-radius: 7px;
        padding: 10px;
        width: 220px;
        font-size: 14px
    }

    .copyrights span[b-gwmo8i7d2t] {
        font-size: 12px;
    }

    ul li .btn[b-gwmo8i7d2t] {
        padding: 5px;
        font-size: 10px;
    }

    .social li a[b-gwmo8i7d2t] {
        width: 25px;
        height: 25px;
        font-size: 12px;
    }

    .about h2[b-gwmo8i7d2t] {
        text-align: center;
        margin-left: 0px;
        font-size: 30px;
    }

        .about h2[b-gwmo8i7d2t]::before {
            display: none;
        }

    .about p[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .my-container[b-gwmo8i7d2t] {
        padding: 20px;
    }

    .cart-names[b-gwmo8i7d2t] {
        margin: 0 8px 0 8px;
        font-size: 14px;
        margin-top: 20px;
        height: 40px;
        font-weight: 500;
    }

    .product-heading[b-gwmo8i7d2t] {
        width: 25%;
        height: 40px;
    }

        .product-heading h2[b-gwmo8i7d2t] {
            font-size: 14px;
        }

    .product-sub-head[b-gwmo8i7d2t] {
        width: 75%;
        height: 40px;
    }

    .cart-names li[b-gwmo8i7d2t] {
        padding: 10px 4px;
    }

    .item-details[b-gwmo8i7d2t] {
        font-size: 12px;
        margin: 0 8px 20px 8px;
    }

    .product-img[b-gwmo8i7d2t] {
        padding: 5px 0;
        width: 25%;
    }

        .product-img img[b-gwmo8i7d2t] {
            width: 50px;
        }

    .product-quntity[b-gwmo8i7d2t] {
        width: 75%;
        height: 60px;
    }

        .product-quntity li[b-gwmo8i7d2t] {
            padding: 10px 4px;
        }

    .pp[b-gwmo8i7d2t],
    .pm[b-gwmo8i7d2t] {
        margin: 0px;
        font-size: 13px;
    }

    .product-quntity input[type=number][b-gwmo8i7d2t] {
        font-size: 10px;
        width: 5px;
    }

    .vi-btn[b-gwmo8i7d2t] {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media only screen and (max-width:280px) {
    header[b-gwmo8i7d2t] {
        height: 60px;
    }

    .logo[b-gwmo8i7d2t] {
        height: 50px;
    }

    .icons[b-gwmo8i7d2t] {
        margin-top: 50px;
    }

        .icons input[type="search"][b-gwmo8i7d2t] {
            width: 68%;
            font-size: 11px;
            padding: 10px 10px;
        }

        .icons input[type="submit"][b-gwmo8i7d2t] {
            width: 28%;
            padding: 10px 0;
            text-align: center;
            font-size: 11px;
        }

    .nav-btn[b-gwmo8i7d2t] {
        top: 10px;
    }

        .nav-btn i[b-gwmo8i7d2t] {
            width: 20px;
        }

    .nav[b-gwmo8i7d2t] {
        top: 50px;
    }

    #nav:checked ~ .nav[b-gwmo8i7d2t] {
        width: 100%;
    }

    .logo img[b-gwmo8i7d2t] {
        width: 120px;
    }

    .benefit-row[b-gwmo8i7d2t] {
        padding: 0 5px;
        margin: 0;
    }

    .benefit-content h6[b-gwmo8i7d2t] {
        font-size: 12px;
    }

    .benefit-content p[b-gwmo8i7d2t] {
        font-size: 9px;
    }

    .cardd[b-gwmo8i7d2t] {
        height: 210px;
    }

    .vi-btn[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .cardd img[b-gwmo8i7d2t] {
        height: 120px;
    }

    .cardd p[b-gwmo8i7d2t] {
        padding: 2px 5px;
    }

    .deal-col-1 img[b-gwmo8i7d2t] {
        width: 100px;
    }

    .h2[b-gwmo8i7d2t] {
        font-size: 14px;
    }

    .round[b-gwmo8i7d2t] {
        width: 40px;
        height: 40px;
        margin: 2px;
        font-size: 8px;
    }

    .deal-col-2 span[b-gwmo8i7d2t] {
        font-size: 12px;
    }

    .f-logo img[b-gwmo8i7d2t] {
        width: 150px;
    }

    .f-btn[b-gwmo8i7d2t] {
        font-size: 10px;
    }

    .input[b-gwmo8i7d2t] {
        width: 160px;
        font-size: 12px;
    }

    .copyrights span[b-gwmo8i7d2t] {
        font-size: 10px;
    }

    .brands[b-gwmo8i7d2t] {
        display: none;
    }

    .cart-names[b-gwmo8i7d2t] {
        margin: 0 3px 0 3px;
        font-size: 9px;
        margin-top: 20px;
        height: 20px;
        border-top-right-radius: 3px;
        border-top-left-radius: 3px;
    }

    .product-heading[b-gwmo8i7d2t] {
        width: 35%;
        height: 0px;
    }

        .product-heading h2[b-gwmo8i7d2t] {
            font-size: 10px;
            margin-top: 5px;
        }

    .product-sub-head[b-gwmo8i7d2t] {
        width: 65%;
        height: 30px;
    }

    .cart-names li[b-gwmo8i7d2t] {
        padding: 5px 2px;
    }

    .item-details[b-gwmo8i7d2t] {
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        margin: 0 3px 20px 3px;
        font-size: 9px;
    }

    .product-img[b-gwmo8i7d2t] {
        padding: 2px;
        width: 35%;
    }

        .product-img img[b-gwmo8i7d2t] {
            width: 35px;
        }

    .product-quntity[b-gwmo8i7d2t] {
        width: 65%;
        height: 30px;
    }

        .product-quntity li[b-gwmo8i7d2t] {
            padding: 5px 2px;
        }

    .pp[b-gwmo8i7d2t],
    .pm[b-gwmo8i7d2t] {
        font-size: 8px;
    }
}

@media only screen and (max-width:250px) {
    .cardd[b-gwmo8i7d2t] {
        width: 90%;
    }

    .a[b-gwmo8i7d2t] {
        margin: 5px;
    }

    .input[b-gwmo8i7d2t] {
        width: 140px;
    }

    .copyrights span[b-gwmo8i7d2t] {
        font-size: 8px;
    }

    .cart-names li[b-gwmo8i7d2t],
    .item-details li[b-gwmo8i7d2t] {
        padding: 0;
        margin: 0;
    }

    .cart-names[b-gwmo8i7d2t] {
        margin: 20px 0 0 0;
    }

        .cart-names[b-gwmo8i7d2t],
        .cart-names h2[b-gwmo8i7d2t],
        .item-details[b-gwmo8i7d2t] {
            font-size: 7px;
        }
}
/* _content/Watch_Store/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pki2hgy1i1] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pki2hgy1i1] {
  color: #0077cc;
}

.btn-primary[b-pki2hgy1i1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pki2hgy1i1], .nav-pills .show > .nav-link[b-pki2hgy1i1] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pki2hgy1i1] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pki2hgy1i1] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pki2hgy1i1] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pki2hgy1i1] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pki2hgy1i1] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
