@page
@model Watch_Store.Pages.Shop.IndexModel
@{
    ViewData["Title"] = "Shop";
}
<!--Products  -->
<section class="bg-light text-center pb-5">

    <!-- bread cumb -->

    <nav class="m-2" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">shop</li>
        </ol>
    </nav>

    <!-- bread cumb -->
    <h4 class="c2">Categories</h4>
    <ul>
        <li>
            <button class="buttons active btn btn-outline-primary" data-filter="all">All</button>
            <button class="buttons btn btn-outline-primary" data-filter="men">Mens-Watches</button>
            <button class="buttons btn btn-outline-primary" data-filter="ladies">Ladies-Watches</button>
            <button class="buttons btn  btn-outline-primary" data-filter="mobile">Mobile Watches</button>
        </li>
    </ul>
    <div class="wrappers">

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular1.jpg" alt="Stainless Steel Strap Quartz Wristwatch Men">
                <p>
                    Countdown Stainless Steel Strap Quartz Wristwatch Men
                    <br> <span class="text-danger">$ 1,250</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/girl2.jpg " alt="Deemiz New in High Quality">
                <p>
                    Deemiz New Stylish Watch for Women in High Quality
                    <br> <span class="text-danger ">$ 250</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular4.png" alt="Romanson Stainless Steel Wrist Watch">
                <p>
                    Romanson Stainless Steel Wrist Watch For Men-Romanson
                    <br><span class="text-danger">$ 1,250</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular2.jpg" alt="Browwn Leather Skeleton Watch for Men.">
                <p>
                    Browwn Leather Skeleton Watch for Men.
                    <br> <span class="text-danger">$ 450</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/women2.png" alt="New Fashion Mobile Watch For Girls">
                <p>
                    New Pink lether Fashion Mobile Watch For Girls
                    <br> <span class="text-danger">$ 1,450</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular3.png" alt="Timex Allied Blue Dial Analog">
                <p>
                    Timex Allied Blue Analog Watch for Men
                    <br> <span class="text-danger">$ 850</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/women1.png" alt="Blue Leather Skeleton Watch for Women.">
                <p>
                    Blue Leather Watch for Women.
                    <br> <span class="text-danger">$ 350</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/girl.1.jpg" alt="Watchify Fashion Magnetic Wrist Watch for Girls">
                <p>
                    Watchify Fashion Magnetic Wrist Watch for Girls
                    <br> <span class="text-danger">$ 400</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular5.png" alt="Luxury Brand Watch">
                <p>
                    Luxury Brand Men Watch Good Quality Black
                    <br> <span class="text-danger">$ 300</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter men">
            <a href="product.html">
                <img src="~/images/product-images/popular6.png" alt="NAVIFORCE Army">
                <p>
                    NAVIFORCE Army Business Band Japan Watch
                    <br> <span class="text-danger">$ 250</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o"></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile4.png" alt="Smart Watch With Bluetooth Call">
                <p>
                    Smart Watch With Bluetooth Call Intelligence Smart Watch.
                    <br> <span class=" text-danger ">$ 900</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile3.png " alt="Waterproof Smartwatch ">
                <p>
                    Smart Watch Men Blood Pressure Waterproof Smartwatch
                    <br> <span class="text-danger ">$ 1,100</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/girl3.jpg " alt="High Quality Purple Magnetic Ladies Wrist Watch For Girls Women">
                <p>
                    [NEW BRAND]High Quality Purple Magnetic Wrist Watch for Ladies
                    <br> <span class="text-danger ">$ 300</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/girl4.jpg " alt="Love Watch For Girls">
                <p>
                    Red Leather Double Bracelet Love Watch For Girls
                    <br> <span class="text-danger ">$ 290</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter ladies">
            <a href="product.html">
                <img src="~/images/product-images/girl5.jpg " alt="Bracelet Watch For Girls">
                <p>
                    Cute Quartz Bracelet Watch For Girls
                    <br> <span class="text-danger ">$ 360</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>


        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile5.png " alt="Smart Band, Smart Watch">
                <p>
                    M3 Plus Smart Fitness Band with Heart Rate Sensor,Smart Watch
                    <br> <span class="text-danger ">$ 550</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile6.png " alt="Watch with GSM slot with camera">
                <p>
                    Watch Wearable Device Sports Watch with GSM slot with camera
                    <br> <span class="text-danger ">$ 1,850</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile7.png " alt="waterproof smart watch for android and ios">
                <p>
                    High quality stylish waterproof smart watch for android and ios
                    <br> <span class="text-danger ">$ 1,050</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile8.png " alt="Fitness Tracker Heart Rate Monitor Smart Band">
                <p>
                    Fitness Tracker Heart Rate Monitor Smart Band watch
                    <br> <span class="text-danger ">$ 600</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

        <div class="cardd image-filter mobile">
            <a href="product.html">
                <img src="~/images/product-images/mobile9.png " alt="iOS Android AIVEILE 2020 Version Activity.">
                <p>
                    Smart Watch for iOS Android AIVEILE 2020 Version Activity.
                    <br> <span class="text-danger ">$ 600</span>
                </p>
            </a><br>
            <i class="fa fa-heart-o "></i>
            <a href="cart.html" class="btn2 ">ADD TO CART</a>
        </div>

    </div>
</section>

<!--Products  -->
