@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- FOOTER -->

<footer class="footer">
    <div class="footer-row">
        <div class="footer-col-1">
            <div class="f-logo">
                <a href="index.html"><img src="assets/images/Website-Logo/logo2.png" alt="Watch-shop"></a>
            </div>
            <p>mechanical watches still attracts interest from part of the watch-buying public, especially among the watch collectors.</p>
            <ul class="footer-social">
                <li><a class="a" href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a class="a" href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a class="a" href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a class="a" href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="a" href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>
        </div>
        <div class="footer-col-2">
            <h3 class="footer-headings">Navigation</h3>
            <ul class="footer-links">
                <li><a class="a" href="shop.html">Shop</a></li>
                <li><a class="a" href="contact.html">Contact</a></li>
                <li><a class="a" href="login.html">Signup</a></li>
                <li><a class="a" href="about.html">About</a></li>
            </ul>
        </div>
    </div>
</footer>
<div class="copyrights">
    <span>Copyright &copy;2020. One-Shop-All rights reserved</span>
</div>

<!-- /FOOTER -->